<h1>{{ campaign?.campaignName }}</h1>
<img src="{{ campaign?.campaignPictureURL }}" style="width: 100%" />
<br />
<br />
<section class="campaignInfoContainer">
  <section class="campaignTitleAndImageContainer">
    <h3>Donate to this campaign!</h3>
    <form [formGroup]="donationForm" (ngSubmit)="onDonationSubmit()">
      <label for="donationAmount">Donation Amount($): </label>
      <br />
      <input
        id="donationAmount"
        type="text"
        placeholder="1.00"
        formControlName="donationAmount"
      />
      <br />
      <br />
      <label for="donationNote">Donation Note: </label>
      <br />
      <input
        id="donationNote"
        type="text"
        placeholder="Donation Note"
        formControlName="donationNote"
      />
      <br />
      <br />
      <button type="submit">Donate!</button>
    </form>
  </section>

  <section class="campaignDonorContainer">
    <h3 class="campaignSubheader">Our Mission</h3>
    <span style="overflow-wrap: break-word">{{
      campaign?.campaignDescription
    }}</span>
    <br />
    <br />
    <h3 class="campaignSubheader">Donors</h3>
    <ul>
      <li *ngFor="let donation of campaign?.donations">
        <strong
          >{{ donation.donor.firstName }} {{ donation.donor.lastName }}</strong
        >
        - <span>{{ donation.donationAmount | currency }}</span>
        <br />
        <span>Note: </span>
        <span>"{{ donation.donationNote }}"</span>
        <br />
        <br />
      </li>
    </ul>
  </section>
</section>
