<ul>
  <li>{{ userProfile?.firstName }}</li>
  <li>{{ userProfile?.lastName }}</li>
  <li>{{ userProfile?.email }}</li>
  <ul *ngFor="let campaignItem of userProfile?.ownedCampaigns">
    <li>{{ campaignItem.campaignName }}</li>
    <ul *ngFor="let donationItem of campaignItem?.donations">
      <li>
        <span
          >{{ donationItem?.donor.firstName }}:
          {{ donationItem?.donationAmount | currency }}</span
        >
      </li>
    </ul>
  </ul>
</ul>
<br />
<br />
<br />
<section *ngIf="checkIfProfileIsCurrentUser">
  <form [formGroup]="newCampaignForm" (ngSubmit)="submitNewCampaignForm()">
    <label for="name">Campaign Name: </label>
    <br />
    <input
      id="name"
      type="text"
      placeholder="Name your campaign!"
      formControlName="campaignName"
    />
    <br />
    <br />
    <label for="description">Campaign Description: </label>
    <br />
    <input
      id="description"
      type="text"
      placeholder="Describe your campaign!"
      formControlName="campaignDescription"
    />
    <br />
    <br />
    <label for="pictureUrl">Campaign Picture URL: </label>
    <br />
    <input
      id="pictureUrl"
      placeholder="https://yourcampaignpicture.com"
      formControlName="campaignPictureURL"
    />
    <br />
    <br />
    <button type="submit" [disabled]="newCampaignForm.invalid">
      Create My Campaign!
    </button>
  </form>
</section>
